<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QbPharmaSpecEntities" connectionString="metadata=res://*/DocumentationModel.csdl|res://*/DocumentationModel.ssdl|res://*/DocumentationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QbPharmaSpec;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>